<ion-header>
  <ion-toolbar>
    <app-back-button></app-back-button>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-wrapper">
    <h2 class="reset-title">Restablece tu Contraseña</h2>
    <form (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Recuperar</ion-button>
    </form>
  </div>
</ion-content>
